html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del,
dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form,
label, legend,table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: Helvetica, Arial, Sans-Serif;
	display: block;
	font-size: 1em;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
}

body, html{overflow: hidden; width: 100%; height: 100%;}

a{text-decoration: none; color: #333}

#main-cont {
	position: absolute;
	width: 492px; height: 250px;
	top: 50%; left: 50%;
	margin: -125px 0 0 -246px;
}

#main-cont h2.top {
	width: 310px; height: 50px;
	font-size:2em;
	font-family: "Times New Roman", Times, serif;
}

#logo {height: 100px; width: 186px; margin-bottom: 7px; margin-right: 5px;}

#main-cont div.bottom {
	width: 100%; height: 32px;
	margin-top: 20px;
}

#main-cont div.bottom .hbutton {
	display: inline-block;
	white-space: nowrap;
	padding: 0 1.1em;
	margin: 5px;
	text-decoration: none;
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	border-radius: .2em;
	border-bottom: 1px solid #ccc;
	color: #333;
	text-shadow: .5px 0px 0px #ccc;
	-moz-box-shadow: 0 1px .5px #ccc;
	-webkit-box-shadow: 0 1px .5px #ccc;
	box-shadow: 0 1px .5px #ccc;
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#main-cont div.bottom .hbutton:hover {
	border-bottom: 1px solid #ccc !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	position: relative;
	top: 2px;
}

#main-cont div.bottom .hbutton:active {
	border-bottom: 1px solid black;
}

#main-cont div.bottom a {display: inline-block;}

div.hbuttondown {
	border-bottom: 1px solid #B8D30B !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none!important;
	box-shadow: none !important;
	position: relative;
	top: 2px;
}

#underbottom{
	width: 100%; height: 120px;
}

#underbottom div  {
	display:none;
	padding: 16px;
}

#cover {
	width: 100%; height: 120px;
	position: relative;
	top: -120px;
	background-color: white;
	z-index: 2;
}